h1 {
    color: green;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}

.date-picker {

}

.outside-form {

}

.message-label {

}

.submit-button {

}